

.foot-comp{
    width: 80vw;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 120px ;
    line-height: 2rem;

}

.foot-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

