.icon-comp{
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    line-height: 3rem;
}

a{
    text-decoration: none;
    color: #fff;
}

.Contact{
    display: flex;
    justify-content: space-between;
}

.icon{
    display: flex;
    justify-content: space-around;
}
