

<div class="main-container">
  <mat-card class="card" *ngFor='let news of ncbNewsData.articles'>
    <img class="card-img" mat-card-sm-image src={{news.urlToImage}}>
    <div class="card-text">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="card-title-text">{{news.title}}</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="disc">{{news.description}}</mat-card-content>
      <div class="b-text">
        <mat-card-subtitle >{{news.publishedAt}}| By {{news.source.name}}</mat-card-subtitle>
      </div>
    </div>
  </mat-card>
</div>

