<div class="main-container">
  <mat-card class="card" *ngFor='let news of ncbNewsData?.articles' >
    
    <img class="card-img" mat-card-sm-image [src]="news.urlToImage ? news.urlToImage: optinalImage"  >
    <div  class="card-text">
      <mat-card-header >
        <mat-card-title-group>
          <mat-card-title class="card-title-text">{{news?.title}}</mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content class="disc">{{news?.description}}</mat-card-content>
      <div class="b-text">
        <mat-card-subtitle>{{news?.publishedAt}}| By {{news?.source?.name}}</mat-card-subtitle>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="share-option">
      <div>
        <i class='bx bx-heart' style='color:#f52406'></i> 28
      </div>
      <div>
        <img src=".//src/assets/img/share.svg"> 72
      </div>
      <div>
        <img src=".//src/assets/img/tag.svg">
      </div>
    </div>
  </mat-card>
</div>




<div class="mat-btn">
  <button id="view-more"  mat-stroked-button color="Accent"> View More</button>
</div>

<!-- <script>

let vewMorebtn=document.querySelector('#view-more');
let currentItem= 9;

vewMorebtn.onclick =()=>{
  let carts =[...querySelectorAll('.main-container .card-text .card') ];
  for ( var i=currentItem; i> currentItem + 9; i++ ){
    carts[i].style.display = 'inline-block';
  }
  currentItem += 9;
  if(currentItem >= carts.length){
    vewMorebtn.style.display='none'
  }

}

  
</script> -->



