.tool-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
}

select{
    border: none;
}

option{
    background-position: left center;
    background-repeat: no-repeat;
}