



<div >
    <div class="tool-list">
        <img src=".//src/assets/img/arro.svg" alt="arro">
        <img src=".//src/assets/img/man.svg" alt="arro">
        <img src=".//src/assets/img/search.svg" alt="arro">
       
    
    
        <select name="IND" id="IND">
           <img src=".//src/assets/img/india.png"  ><option value="ind">IND</option>
           <option value="uae"><img src=".//src/assets/img/ind.png"> UAE</option>
            <option value="usa">USA</option>
        </select>
    </div>
</div>